<footer>
  <ul>
    <!-- @for (item of footerData; track $index) {
      <app-list [link]="item.link" [text]="item.text"/>
    } -->
      <li>
        <p>Irene Agata Napoli - P.IVA: IT06158240876</p>
      </li>
      <li>
        <p>Via Cesare Vivante, 67 95123 Catania CT</p>
      </li>
      <li>
        <button matButton (click)="openDialog()">Privacy Policy</button> 

      </li>
              <div class="uc-privacy-policy"></div>
    </ul>
  <!-- <a href="mailto:info@eukinesistudio.it">info&#64;eukinesistudio.it</a>
  <a href="https://maps.google.com/maps?ll=37.515783,15.077035&z=19&t=m&hl=it&gl=US&mapclient=apiv3&cid=8122947406870052066">Via Cesare Vivante, 67 CT</a> -->
</footer>
