:host {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

:host(:nth-child(odd)) {
  background: rgba(0, 0, 0, 0.035);
}

td {
  padding: 10px 12px;
  text-align: center;
}

.hours-range {
  display: block;
}

.hours-range + .hours-range {
  margin-top: 2px;
  opacity: 0.75;
}

.closed {
  font-style: italic;
  opacity: 0.7;
}
