h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
}

.contacts-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 400px; */
}

.info-container {
    width: calc(40% - 20px);
    padding: 40px 0;
}

.info-container ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container img {
  margin-right: 6px;
  width: 20px;
  /* filter: brightness(0) saturate(100%) invert(57%) sepia(94%) saturate(391%) hue-rotate(90deg) brightness(99%) contrast(87%); */
}

.socials-list-container {
  display: flex;
}

.contact-title {
    width: 30%;
}


.social-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
}

app-list {
  display: flex;
  width: auto;
  align-items: center;
}



.input-row {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.input-row input {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: none;
  width: calc(50% - 20px);
  padding: 10px 10px;
}

.form-container input:focus, textarea:focus{
  outline: none;
}

.form-container textarea {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: none;
  resize: none; /* Remove the resize icon (and feature) on the bottom right */
  width: 100%;
  height: 200px;
  padding: 10px 10px;
  margin-bottom: 30px;
}



.button-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container button {
  border: none;

  height: 3.125em;
  max-width: 30em;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 2.75em;
  border-radius: 4px;
  color: white;
  background-color: lightsalmon;
  cursor: pointer;
}

.form-container button:disabled{
  background-color: gray;
  cursor: not-allowed;
}

.form-container span {
  margin-left: 30px;
  font-size: smaller
}

/* MEDIA RESPONSIVE */

/* DESKTOP */
@media (min-width: 1261px){
  .info-container ul h3 {
    width: 20%;
    margin-right: 20px;
  }

  .form-container {
    width: calc(60% - 20px);
  }
}

/* DESKTOP - RESIZE */
@media (min-width: 991px) and (max-width:1260px) {
  .contacts-container{ 
    flex-direction: column;
  }

  .info-container{
    width: 100%;
  }

  app-list{
    display: flex;
  }

  .info-container ul{
    width: 100%;
    display: flex;
  }

  .contact-title {
    width: 30%;
  }

  .form-container {
    width: 100%;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  .contacts-container{ 
    flex-direction: column;
  }

    .info-container{
    width: 100%;
  }

  app-list{
    display: flex;
  }
  
  .info-container ul{
    width: 100%;
    display: flex;
  }

  .contact-title {
    width: 30%;
  }

  .form-container {
    width: 100%;
  }
}

/* PHONE */
@media (min-width: 391px) and (max-width: 767px){
  .contacts-container{ 
    flex-direction: column;
  }

  .info-container{
    width: 100%;
  }

  app-list{
    display: flex;
  }
  

  .info-container ul{
    width: 100%;
    display: flex;
  }

  .contact-title {
    width: 30%;
  }

  .form-container {
    width: 100%;
  }

  .input-row{
    flex-direction: column;
  }

  .input-row input{
    width: 100%;
    margin: 10px 0;
  }

  .button-row{
    flex-direction: column;
  }

  .form-container button{
    width: 100%;
  }

  .form-container span {
    margin-top: 14px;
    margin-left: 0;
    font-size: x-small;
  }
}

/* SMALL PHONE */
@media (max-width: 390px){
  .contacts-container{ 
    flex-direction: column;
  }

  .info-container{
    width: 100%;
  }

  app-list{
    display: flex;
    /* flex-direction: column; */
    font-size: 10px;
  }
  
  .info-container ul{
    width: 100%;
    display: flex;
  }

  ul{
    padding: 0;
  }

  .socials-list-container{
    /* flex-direction: column; */
    align-items: center;
  }

  .social-row{
    display: flex;
    justify-content: center;
  }

  .contact-title {
    font-size: 10px;
    width: 30%;
    /* text-align: center; */
  }

  .form-container {
    width: 100%;
  }

  .input-row{
    flex-direction: column;
  }

  .input-row input{
    width: 100%;
    margin: 10px 0;
  }

  .button-row{
    flex-direction: column;
  }

  .form-container button{
    width: 100%;
  }

  .form-container span {
    margin-top: 14px;
    margin-left: 0;
    font-size: x-small;
  }
}