.hero {
  position: relative;
  background: url('/LM-26-5.jpg') center/cover no-repeat;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.hero:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background-color: rgba(0 ,0 ,0 ,0);
}

.hero-content {
  font-family: "Open Sans", Helvetica, sans-serif;
  position: relative;
  text-align: center;
  margin: auto;
  /* height: 100%; */
  color: white;
  z-index: 2;
}

h2 {
  /* position: absolute;
  top: 20%;
  left: 0; right: 0; */
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
}

/* Invisible lines, width set to 0 */
h2::before,
h2::after {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 0;
}

/* Position */
h2::before {
  top: 0;
  left: 0;
}

h2::after {
  bottom: 0;
  right: 0;
}

/* Animation */

/* p {
  position: absolute;
  top: 40%;
  left: 0; right: 0;
} */

button {
  /* position: absolute;
  top: 80%;
  left: 0; right: 0;
  margin: auto;
  width: 20%; */
  border: none;

  height: 3.125em;
  max-width: 30em;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 2.75em;
  border-radius: 4px;
  color: white;
  background-color: lightsalmon;
  cursor: pointer;
}



/* MEDIA RESPONSIVE */

/* DESKTOP */
@media (min-width: 992px){
  .hero {
    width: 94%;
    height: 800px;
    border-radius: 40px;
  }

  .hero::after{
    border-radius: 40px;
    transition: all 1s ease in out;
    -webkit-transition: all 1s;
  }

  .hero:hover::after{
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero:hover .hero-content {
    opacity: 1;
    transition: 1s ease-in-out;
  }

  .hero-content {
      width: 50%;
      transition: opacity 0.3s ease;
      opacity: 0;
  }

  h2{ 
    padding: 8px;
    font-size: 30px;
  }

  p{
    padding: 20px;
    font-size: 18px;
  }

  h2::before, h2::after {
    transition: width 0.85s ease 0.25s;
  }

  .hero:hover h2::before, .hero:hover h2::after {
    width: 100%;
  }

}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    width: 98%;
    height: 700px;
    border-radius: 20px;
  }

  .hero:after{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero-content{
    opacity: 1;
  }

  h2::before, h2::after {
    /* width: 100%; */
    -webkit-transition: width 0.85s ease 1.5s;
            transition: width 0.85s ease 1.5s;
    -webkit-transition-delay: 2000ms;
            transition-delay: 2000ms;
  }

  h2.animate::after, h2.animate::before{
    width: 100%;
  }

  h2{ 
    padding: 8px;
    font-size: 30px;
  }

  p{
    padding: 20px;
    font-size: 18px;
  }
}

/* PHONE */
@media (max-width: 767px){
  .hero {
    width: 100%;
    height: 600px;
    /* border-radius: 40px; */
  }

  .hero:after{
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero-content{
    opacity: 1;
  }

  h2::before, h2::after {
    /* width: 100%; */
    -webkit-transition: width 0.85s ease 1.5s;
            transition: width 0.85s ease 1.5s;
    -webkit-transition-delay: 2000ms;
            transition-delay: 2000ms;
  }

  h2.animate::after, h2.animate::before{
    width: 100%;
  }

  h2{ 
    padding: 8px;
    font-size: 24px;
  }

  p{
    padding: 20px;
    font-size: 16px;
  }
}