.hero {
  position: relative;
  background: url('/hero.jpg') center/cover no-repeat;
  display: flex;

  margin: auto;
  width: 86%;
  height: 800px;
  border-radius: 40px;

  align-items: center;
  justify-content: center;
}

.hero:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    border-radius: 40px;
    background-color: rgba(0 ,0 ,0 ,0);
    transition: all 1s ease in out;
    -webkit-transition: all 1s;
}

.hero:hover::after{
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  font-family: "Open Sans", Helvetica, sans-serif;
  position: relative;
  text-align: center;
  margin: auto;
  width: 30%;
  /* height: 100%; */
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease;
  z-index: 2;
}

h2 {
  /* position: absolute;
  top: 20%;
  left: 0; right: 0; */
  padding: 8px;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
}

/* Stato iniziale: le linee sono invisibili (larghezza 0) */
h2::before,
h2::after {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 0;
  transition: width 0.85s ease 0.25s;
}

/* Posizione delle linee */
h2::before {
  top: 0;
  left: 0;
}

h2::after {
  bottom: 0;
  right: 0;
}

/* Hover: attiva l’animazione di espansione */
.hero:hover h2::before,
.hero:hover h2::after {
  width: 100%;
}
p {
  /* position: absolute;
  top: 40%;
  left: 0; right: 0; */
  padding: 20px;
  font-size: 18px;
}

button {
  /* position: absolute;
  top: 80%;
  left: 0; right: 0;
  margin: auto;
  width: 20%; */
  border: none;

  height: 3.125em;
  max-width: 30em;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 2.75em;
  border-radius: 4px;
  color: white;
  background-color: lightsalmon;
  cursor: pointer;
}

.hero:hover .hero-content {
  opacity: 1;
  transition: 1s ease-in-out;
} 