.map-container {
  display: flex;
  justify-content: center;
}

.position-text {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* app-table {
  display: table-row;
} */

app-table {
  text-align: center;
  display: contents;
}

table.greyGridTable {
  /* border: 2px solid #4CAF50; */
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  /* border: 1px solid #FFFFFF; */
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}

table.greyGridTable thead {
  border-bottom: 2px solid #4CAF50;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #4CAF50;;
  text-align: center;
  /* border-left: 2px solid #333333; */
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

/* MEDIA RESPONSIVE */

@media (min-width: 1261px){
  section{
    width: 80%;
  }
  .position-text{
    height: 400px;
    width: 30%;
    padding-left: 40px;
  }

  .map-container app-map {
    width: 70%;
  }
}

/* DESKTOP - RESIZE */
@media (min-width: 991px) and (max-width:1260px) {
  .map-container{
    display: flex;
    flex-direction: column;
  }

  .position-text{
    margin-top: 30px;
  }

  table.greyGridTable {
    /* border: 2px solid #4CAF50; */
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  section{
    width: 90%;
  }
  .map-container{
    display: flex;
    flex-direction: column;
  }

  .position-text{
    margin-top: 30px;
    padding-left: 0;
  }

  table.greyGridTable {
    /* border: 2px solid #4CAF50; */
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
  }
}

/* PHONE */
@media (max-width: 767px){
  section{
    width: 100%;
  }

  .map-container{
    display: flex;
    flex-direction: column;
  }

  .position-text{
    margin-top: 30px;
    padding-left: 0;
  }

  table.greyGridTable {
    /* border: 2px solid #4CAF50; */
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    font-size: 13px;
  }

  table.greyGridTable tbody td {
    font-size: 10px;
  }
}

