.map-container {
  display: flex;
  justify-content: center;
}

.position-text {
  height: 400px;
  width: 30%;
  padding-left: 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* app-table {
  display: table-row;
} */

app-table {
  text-align: center;
  display: contents;
}

table {
  width: 80%;
}

table.greyGridTable {
  border: 2px solid rgb(191, 120, 93);
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  /* border: 1px solid #FFFFFF; */
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}

table.greyGridTable thead {
  border-bottom: 2px solid rgb(191, 120, 93);
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: rgb(140, 86, 65);
  text-align: center;
  /* border-left: 2px solid #333333; */
}
table.greyGridTable thead th:first-child {
  border-left: none;
}