.map-container {
  display: flex;
  justify-content: center;
}

.position-text {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

table.scheduleTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.scheduleTable td, table.scheduleTable th {
  padding: 8px 10px;
}
table.scheduleTable tbody td {
  font-size: 13px;
}

table.scheduleTable thead {
  border-bottom: 2px solid currentColor;
}
table.scheduleTable thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/* MEDIA RESPONSIVE */

@media (min-width: 1261px){
  section{
    width: 80%;
  }
  .position-text{
    height: 400px;
    width: 30%;
    padding-left: 40px;
  }

  .map-container app-map {
    width: 70%;
    display: block;
  }
}

/* DESKTOP - RESIZE */
@media (min-width: 991px) and (max-width:1260px) {
  .map-container{
    display: flex;
    flex-direction: column;
  }

  .map-container app-map {
    display: block;
  }

  .position-text{
    margin-top: 30px;
  }

  table.scheduleTable {
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  section{
    width: 90%;
  }
  .map-container{
    display: flex;
    flex-direction: column;
  }

  .map-container app-map {
    display: block;
  }

  .position-text{
    margin-top: 30px;
    padding-left: 0;
  }

  table.scheduleTable {
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
  }
}

/* PHONE */
@media (max-width: 767px){
  section{
    width: 100%;
  }

  .map-container{
    display: flex;
    flex-direction: column;
  }

  .map-container app-map {
    display: block;
  }

  .position-text{
    margin-top: 30px;
    padding-left: 0;
  }

  table.scheduleTable {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    font-size: 13px;
  }

  table.scheduleTable tbody td {
    font-size: 10px;
  }
}