/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  /* --framer-font-family: "Open Sans", "Open Sans Placeholder", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: 	#fff0db;
  /* background-color: #fdf4e3; */
  margin: 0;
  min-width: 1280px;    /* REMOVE LATER */
}

section {
  margin: 60px 0;
  padding: 60px 40px;
  width: 70%;
  margin-left: auto; margin-right: auto;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 40px;
}
.section-title{
  text-align: center;
}

.section-title h2{
  /* font-size: 40px;
  text-align: center;
  margin-bottom: 100px; */
  /* color: #907b67; */
  /* color: lightsalmon; */
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  border-bottom: 3px solid #4CAF50;
  display: inline-block;
  margin-bottom: 2rem;
  color: #2c3e50;
}

.section-container {
  display: flex;
  width: 90%;
  max-height: 500px;
  margin: auto;
  gap: 20px;
}