<section>
  <h1 class="section-title">CHI SIAMO</h1>
  <h2 >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam deleniti, aspernatur error ut ipsa eaque architecto aliquid quam</h2>
  <!-- <div class="section-container">
    <img src="placeholder-image.png" alt="A placeholder">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dignissimos dolores dicta cupiditate similique nulla magnam. Libero, quis dolores suscipit soluta itaque sit iure distinctio excepturi hic quia aut perspiciatis.</p>
  </div> -->
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi ad quae maiores mollitia hic vitae consequatur. Modi, molestiae! Quas maxime tempore, quaerat in sequi ipsum asperiores doloremque quidem et earum!</p>
</section>
