<section>
  <h1 class="section-title">CHI SIAMO</h1>
  <h2 >Eukinesistudio é una realtà nata dall’incontro tra esperienza e innovazione che si pone come obiettivo centrale il benessere dei propri allievi.</h2>
  <!-- <div class="section-container">
    <img src="placeholder-image.png" alt="A placeholder">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dignissimos dolores dicta cupiditate similique nulla magnam. Libero, quis dolores suscipit soluta itaque sit iure distinctio excepturi hic quia aut perspiciatis.</p>
  </div> -->
  <p>Lo studio é specializzato in attività motoria preventiva e adattata, con particolare attenzione alla rieducazione posturale. I programmi proposti si basano sulla somministrazione di esercizi mirati , il cui obiettivo é quello di migliorare la funzionalità motoria, favorire l’allineamento del corpo e ridurre i disturbi legati a posture scorrette o a problematiche della colonna vertebrale. Le attività sono strutturate per adattarsi alle diverse esigenze individuali e sono rivolte a persone di ogni età. L’approccio utilizzato si fonda su metodiche scientifiche e su un lavoro accurato e progressivo, finalizzato al recupero dell’equilibrio posturale e al raggiungimento e al  mantenimento del benessere psico-fisico globale dell’allievo.</p>
</section>
